@import './_mixin';

$fs-24: 24px; 
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;

$all-color: #44AAFF; /* 主色调蓝 */
$all-red: #FF4466;   /* 部分配色 */
$all-hover: #2299FF;  /* hover颜色 */
$all-bgColor:#F3F6F9;/*  背景颜色 */
$c-main-orange: #FF8800; /* 羚羊橙 */
$all-active-orange: #FFAA00; /* 按钮激活 */
$all-bdcolor: #D8DCE3;  /*边框颜色*/
$icon-font-color: #8899bb; /*iconfont图标颜色*/

 /**
 * 常用公用颜色
 */ 
 $c-aaa: #aaa;
 $c-fff: #fff;
 $c-ccc: #ccc;
 $c-ddd: #ddd;
 $c-eee: #eee;
 $c-333: #333;
 $c-444: #444;
 $c-666: #666;


  /**
 * 字体颜色
 */
 $c-dark: #252525;
 $c-normal: #595959;
 $c-light: #989898;
 $c-main: #FF8800;
 $c-hover: #38BCFE;
 $c-disabled: #686868;
.fl{
  float: left;
}
.fr{
  float: right;
}
